table {
    border-collapse: collapse;
    width: 40%;
   
  }
  th, td {
    text-align: left;
    padding: 8px;
    font-family: monospace;
    
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
    background-color: #808080;
    color: white;
    font-family: monospace;
  }
  .container{
      margin-bottom: 4000px;
      margin-right: -800px;
      margin-left: 500px;
      margin-top: 50px;
  }
  button {
      background-color: #e7e7e7; color: black;
      color: black;
      padding: 15px 32px;
      text-align: center;
      font-size: 12px;
      font-family: monospace;
      border-radius: 30px;
      border: 2px solid #000000;
      
    }
h2 .title{
    font-family: monospace;
}
.viewButton{
    margin-left: 540px;
    text-decoration: none;
}
.usersName{
  text-decoration: none;
}

  
  

  
  